.depoimentos{
    background-color: $cor-principal;
    
    background-attachment: fixed;
    color: #fff;
    padding: 30px 0;
    &__caixa{
        max-width: 750px;
        margin: 0 auto;
    }

    
    &__img{
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 200px;
        box-shadow: 3px 3px 0 rgb(255, 255, 255);
        border-radius: 100px;
        margin-bottom: 30px;
    }
    &__texto{
        padding-top: 50px;
        line-height: 20px;
        margin-bottom: 30px;
       
    }
    &__texto::before{
        background-image: url('../img/aspas.png');
        content: '';
        display: inline-block;
        width: 25px;
        height: 23px;
        margin-right: 5px;
    }
    &__pessoa{
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    @media(min-width: $breakpoint-md){
        padding: 150px 0;
        &__img{
            float: left;
            margin-right: 15px;
        }
        &__pessoa{
            text-align: left;
        }
    }
}


.btn {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.btn:before {
  font-size: 13;
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}
.btn:hover:before {
  background-color: #fff;
  width: 3rem;
}
