.depoimentos{
    background-color: $cor-principal;
    
    background-attachment: fixed;
    color: #fff;
    padding: 30px 0;
    &__caixa{
        max-width: 750px;
        margin: 0 auto;
    }

    
    &__img{
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 200px;
        box-shadow: 3px 3px 0 rgb(255, 255, 255);
        border-radius: 100px;
        margin-bottom: 30px;
    }
    &__texto{
        padding-top: 10px;
        line-height: 20px;
        margin-bottom: 30px;
       line-height: 27px;
    }
    &__texto::before{
        background-image: url('../img/aspas.png');
        content: '';
        display: inline-block;
        width: 25px;
        height: 23px;
        margin-right: 5px;
    }
    &__pessoa{
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    @media(min-width: $breakpoint-md){
        padding: 150px 0;
        &__img{
            float: left;
            margin-right: 15px;
        }
        &__pessoa{
            text-align: left;
        }
    }
    .btn {
        text-decoration: none;
        display: grid;
        align-items: center;
        margin-top: -10px;
        padding: 7px 20px;
        border: unset;
        cursor: pointer;
        color: $cor-leitura;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;
        width: 140px;
        height: 30px;
       }
       
       .btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: $cor-leitura;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
       }
       
       .btn:hover {
        color: #e8e8e8;
       }
       
       .btn:hover::before {
        width: 100%;
       }
}


