.pagina-conteudo{
    padding: 15px;
    padding-top:25px;
    padding-bottom: 25px;
    overflow: auto;
    p{
        font-size: 18px;
        color: $cor-leitura;
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    @media(min-width:$breakpoint-md){
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
.links{
    color: $cor-principal;
    text-decoration: none;
}
.links-branco{
    color: white;
}