.pagina-contato{
    .pagina-conteudo{
            @media(min-width: $breakpoint-md){
                padding-right: 150px;
                padding-left: 150px;
                }
    }
}

  
 
svg {
    fill: $cor-principal;
    height: 1em;
    margin-right: 5px;
    vertical-align: -0.125em;
    width: 1em;
}


.text-contact{
    
                
        top: 50%;
        font-style: none;
        color: $cor-leitura;
        text-decoration: none;
        font-size: 25px;
        text-align: left;
         
         
        }
   
.img-contacto{
            float: right;
            border-radius: 30px;
            margin-right: 15px;
            margin-left: 15px;
            padding-top: -300px;
         }
        
   
