.pagina-contato {
  .pagina-conteudo {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
    .text-contact {
      display: flex;
      margin: 0 auto;
      font-size: 30px;  
      font-style: none;
      color: $cor-leitura;
      text-decoration: none;
      
      &:hover {
        color: $cor-principal;  
      }
      
      @media(min-width: $breakpoint-xxs){
        font-size: 18px;  
      }
      
      @media(min-width: $breakpoint-xs){
        font-size: 20px;  
      }
      
      @media(min-width: $breakpoint-sm){
        font-size: 24px;  
      }
      
      @media(min-width: $breakpoint-md){
        font-size: 28px;  
      }
      
      @media(min-width: $breakpoint-lg){
        font-size: 30px;  
      }
      
      @media(min-width: $breakpoint-xl){
        font-size: 30px;  
      }
    }
    
    .box {
      background-color: white;
      border-color: $cor-principal;
      box-shadow: 0 0 25px rgba(0,0,0,0.2);
      border-radius: 30px;
      width: 100%;
      padding: 30px;
    }
    
    svg {
      fill: $cor-principal;
      height: 1em;
      margin-right: 5px;
      vertical-align: -0.125em;
      width: 1em;
    }
  }
}