.pagina-sobre{
    .titulo--sobre{
       color: $cor-principal;
       font-size: 40px;
    }
    
    
}

.role{
    color: black;
       font-size: 20px;
       
}


.menu-sobre__item{
         &:hover {
            transform: scale(1.2);
            cursor: pointer;
            font-size: 28px;
          }
        text-decoration: none;
        font-weight: bold;
        color: $cor-leitura;
        font-size: 0;
    @media(min-width: $breakpoint-sm){
        font-size: 0px;
        display: inline;
        transition: all 350ms ease;
    }
    @media(min-width: $breakpoint-md){
        
        text-decoration: none;
        font-weight: bold;
        color: $cor-leitura;
        display: inline;
        font-size: 25px;
        transition: all 350ms ease;
        
    }
    @media(min-width: $breakpoint-lg){
        
        text-decoration: none;
        font-weight: bold;
        color: $cor-leitura;
        display: inline;
        font-size: 25px;
        transition: all 350ms ease;
    }
    @media(min-width: $breakpoint-xl){
        
        text-decoration: none;
        font-weight: bold;
        color: $cor-leitura;
        display: inline;
        font-size: 25px;
        transition: all 350ms ease;
       
    }
       
}
  
